*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(100,94,203,1) 2%, rgba(0,212,255,0.9668242296918768) 100%);
}
h3{ 
    text-align: center;
    margin:5px;
}
#container{
    width:500px;
    min-height:500px; 
    /* background-color: red; */
    margin:25px auto; 
    display:flex;
    flex-wrap: wrap;
}

.col{
    width:calc( 100% / 3); 
    height:200px;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}